<table>
  <thead>
    <tr>
      <% if @data %>
        <% @data.first.keys.each do |header| %>
          <th><%= header %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @data %>
      <% @data.each do |row| %>
        <tr>
          <% row.values.each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>